@model Book?

<form asp-controller="Books" asp-action="Create" method="post">

    <label asp-for="@Model.Title"></label>
    <input asp-for="@Model.Title"></input>
    <span asp-validation-for="@Model.Title" class="text-danger"></span>

    <br />

    <label asp-for="@Model.Author">Author</label>
    <input asp-for="@Model.Author"></input>
    <span asp-validation-for="@Model.Author" class="text-danger"></span>

    <br />

    <label asp-for="@Model.Price"></label>
    <input asp-for="@Model.Price"></input>
    <span asp-validation-for="@Model.Price" class="text-danger"></span>

    <br />

    <label asp-for="@Model.Genre"></label>
    <input asp-for="@Model.Genre"></input>
    <span asp-validation-for="@Model.Genre" class="text-danger"></span>

    <br />

    <button type="submit">
        Submit
    </button>

</form>