@model Book

<h1>
    @Model.Title
</h1>

<p>
    Author : @Model.Author
</p>

<p>
    Genre : @Model.Genre
</p>

<p>
    Price: Rs.@Model.Price
</p>


<form asp-controller="Books" asp-action="Delete" asp-route-bookId="@Model.Id" method="post">
    <button type="submit">
        Delete Book
    </button>
</form>

<form asp-controller="Books" asp-action="Edit" asp-route-bookId="@Model.Id" method="get">
    <button type="submit">
        Edit Book
    </button>
</form>