@model BookListModel

    
<style>
    .show {
        width: 100%;
        background-color: red;
    }
</style>

<div>
    <div class="flex-column ">

   
    <form asp-controller="Books" asp-action="Index" method="get">
        <input hidden asp-for="@Model.Limit" />
        <input asp-for="@Model.Search" width="300px"/>
        <button type="submit">Search</button>
    </form>



    </div>
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Price</th>
        </tr>

        @foreach (var book in @Model.Books)
        {

           
            <tr >

                <td> <a style="background-color: blue;" asp-controller="Books" asp-action="Details" asp-route-bookId="@book.Id">@book.Id   </a></td>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.Genre</td>
                        <td>Rs.@book.Price</td>
             
            </tr>
         
        }
    </table>


    <div class="d-flex flex-row gap-2">
   
        <div class="@(Model.PreviousCursorId.HasValue ? "visible" : "invisible")">
            <form asp-controller="Books" asp-action="Index" method="get">
                <input hidden asp-for="@Model.Limit" />
                <input hidden asp-for="@Model.CursorId" value="@Model.PreviousCursorId" />
                <input hidden asp-for="@Model.Search" />

                <button type="submit">Prev</button>
            </form>
        </div>


        <div class="@(Model.NextCursorId.HasValue ? "visible" : "invisible")">
            <form asp-controller="Books" asp-action="Index" method="get">
                <input hidden asp-for="@Model.Limit" />
                <input hidden asp-for="@Model.CursorId" value="@Model.NextCursorId" />
                <input hidden asp-for="@Model.Search" />

                <button type="submit">Next</button>
            </form>
        </div>

    </div>



</div>